/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* STYLE CSS BEGINS */
body {
    font-family: 'Roboto', sans-serif;
}
.nav {
    display: flex;
    border: 2px solid #444;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px auto;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    background-color: #111;
}

h1.nav-title {
    flex-direction: row;
    color: #eee;
}

ul.nav-links {
    display: flex;
    text-align: right;
    justify-content: space-around;
    align-items: center;
}
li {
    display: inline;
    margin: 0 20px;
}

li a {
    color: #ccc;
}

.nav-links button.btn {
    padding: 5px 20px;
    border: 2px solid white;
    background: #333;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 3px 3px #777;
    cursor: pointer;
}